{% extends "base.html" %}
{% block page_content %}
    {% import "bootstrap/wtf.html" as wtf %}

    {{ wtf.quick_form(formUploadEmail, button_map={'submit':'primary'}) }}
    
    <!-- render check result if present -->            
    <div style="margin-top: 20px;">
        {% if check_result ==True %}
            <div class="alert alert-success">   
                {{ email }} is likely an email address
            </div>
        {% elif check_result == False %}
            <div class="alert alert-danger">
                {{ email }} is not an email address
            </div>
        {% endif %}    
    </div>

{% endblock %}