{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        function copyToClipBoard(elementId) {
            var copyText = document.getElementById(elementId);
            copyText.select();
            document.execCommand("copy");
            copyText.clearSelectin()
        }

    </script>
{% endblock %}

{% block page_content %}
    {% import "bootstrap/wtf.html" as wtf %}

    {{ wtf.quick_form(form, button_map={'submit':'primary'}) }}
    
    <!-- render check result if present -->            

    {% if lines %}

    <h3>Splitted Lines</h3>
    {%for current_lines in lines %}
    <div class="form-group">
        <h4> Chunk {{ loop.index }} </h4>
        <textarea class="form-control" readonly id='chunk_{{loop.index}}' rows="4" syle="margin:1em;">
{{ current_lines }}
        </textarea>
        <p style="margin-top: 0.5em;">
            <button class="btn btn-default" onclick="copyToClipBoard('chunk_{{loop.index}}')">
                Copy To Clipboard
            </button>
        </p>
    </div>
    {% endfor %}

    {% endif %}

{% endblock %}