{% extends "base.html" %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">

        function copyToClipBoard(elementId) {
            var copyText = document.getElementById(elementId);
            copyText.select();
            document.execCommand("copy");
            copyText.clearSelectin()
        }

    </script>
{% endblock %}

{% block page_content %}
    {% import "bootstrap/wtf.html" as wtf %}

    {{ wtf.quick_form(form) }}
    
    <!-- render check result if present -->            

    {% if lines %}

    <h3>Splitted Lines</h3>
    {%for current_lines in lines %}
    <div>
        <h4> Chunk {{ loop.index }} </h4>
        <textarea readonly id='chunk_{{loop.index}}' rows="4" style="width:100%">
{{ current_lines }}
        </textarea>
        <button onclick="copyToClipBoard('chunk_{{loop.index}}')">
            Copy To Clipboard
        </button>
    </div>
    {% endfor %}

    {% endif %}

{% endblock %}